.wrapper {
   display: flex;
   justify-content: space-between;
   gap: 0 1rem;
   align-items: center;
   font-size: 1.13rem;

   @media (max-width: 767px) {
      font-size: 1rem;
   }

   @media (max-width: 625px) {
      flex-direction: column;
      font-size: 0.8rem;
      line-height: 1.5;
      gap: 0;
      // justify-content: flex-end;
   }
}

.content {
   flex: 0 1 55%;

   @media (max-width: 767px) {
      flex: 0 2 48%;
   }

}

.greetings {
   font-size: 1.5rem;
   margin-bottom: 0.8rem;

   @media (max-width: 767px) {
      font-size: 1.2rem;
   }

   @media (max-width: 625px) {
      font-size: 1rem;
      margin-bottom: 0;
   }

}

.title {
   font-size: 3rem;
   color: rgb(41 153 252);
   margin-bottom: 1.8rem;

   @media (max-width: 767px) {
      font-size: 2.5rem;
      line-height: 1.2;
      margin-bottom: 2rem;
   }

   @media (max-width: 625px) {
      font-size: 1.8rem;
      margin-bottom: 8px;
      line-height: 1;
   }

}

.mainText {
   margin-bottom: 1.2rem;
   & span {
      font-size: 1.5rem;
      font-weight: 700;
      font-style: italic;
      @media (max-width: 625px) {
      font-size: 1.1rem;
      line-height: 1;
      }
   }

   @media (max-width: 625px) {
      margin-bottom: 0.4rem;
   }
}

.callAction {
   margin-bottom: 2rem;

   @media (max-width: 625px) {
      margin-bottom: 0.8rem;
   }
}

.buttonBox {
   display: flex;
   gap: 0 1rem;

   @media (max-width: 625px) {
      display: none;
      justify-content: center;
   }

}

.image {
   flex: 0 2 150px;
   height: 550px;
   border-radius: 5px;
   border-bottom-right-radius: 100px;
   border-top-left-radius: 50px;

   @media (max-width: 767px) {
      max-height: 450px;
      height: 100%;
   }

   @media (max-width: 625px) {
      max-height: 260px;
      border-bottom-right-radius: 70px;
   }
}