.body {
   background-color: rgb(41 153 252);
   color: #fff;
   transition: .4s ease-in-out;
   text-wrap: nowrap;
   padding: 0.3rem 0.4rem;
   border-radius: 3px;
   border: 2px solid transparent;

   @media (any-hover: hover) {
      &:hover {
         background-color: #fff;
         color: rgb(41 153 252);
         transform: translateY(1px);
         border: 2px solid rgb(41 153 252);
      }
   }
   @media (max-width: 625px) {
      padding: 0.2rem;
   }
}