.container {
   max-width: 1220px;
   width: 100%;
   margin: 0 auto;
   padding: 0 1rem 1rem;

   @media (max-width: 625px) {
      padding: 0 1rem 0.8rem;
   }
}

.phone {
   text-align: center;
   line-height: 180%;

   @media (max-width: 625px) {
      font-size: 0.8rem;
   }

}